.participants-ui{
    overflow-y: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 70vh;
}
.rce-container-input {
    min-height: 50px;
    height: 7vh;
}
.rce-container-mlist {
    display: flex;
    /* height: 51vh; */
    min-height: 300px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.attendees-list {
    margin-bottom: 0px;
    overflow-y: auto;
    height: 60vh;
    min-height: 370px; 
}

.chat-frame {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.message-list {
    min-width: 140px;
    overflow: visible; 
}

.message-list-container {
    flex: 1;
    overflow: auto;
    padding: 100;
}